{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="java.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css'>
    <link rel="stylesheet" href="./STYLE.css">

</head>

<body     style="background-color: #000000;">
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="HOME.html">
            <img src="https://shopwhatsup.com/cdn/shop/files/logo_fc7d6846-b3f2-456e-a769-4ccaadc34d6a.png?v=1709544316&width=180"
                alt="logo" style="width:100px;">
        </a>
    
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ABOUT">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ALLPRODUCT">ALL PRODUCT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PRODUCT">PROUDUCT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/CONTACT">CONTACT</a>
            </li>
        </ul>
    
        <form class="search">
            <input type="text" placeholder="Search" class="search__input" />
            <button type="button" class="search__button">
                <i class="ri-search-2-line"></i>
            </button>
        </form>
    
        <a class="nav-link" href="HOME.html">
            <img src="{% static 'img/shopping-bag.png' %}" alt="Image description" class="shopping-bag-icon">
        </a>
    </nav>


    <div  class="contact"  >
        <h1>Contact Us</h1>
        <div>
            <h5>Contact Us</h5>
        </div>
        <p>For any inquiries about the online department, or to inquire about how to order and the available methods, contact us on
        this number: (0102 095 8834)</p>
<p>Our Stores:</p>
<div  class="location">
<li data-mce-fragment="1">Nasr City: 14, Abbas Elaakad St, In front of El Nassagon Elshrkyon. Tel: 010 9520 0585</li>
<li data-mce-fragment="1">Nasr City: Geneina Mall, Second Floor, Shop Number (50-C). Tel: 010 6000 9769</li>
<li data-mce-fragment="1">Mohandessin: 45, Gameat El Dewal El Arabia St, Shehab St, Next to GAD. Tel: 010 6000 9780</li>
<li data-mce-fragment="1">Mall of Arabia: Gate Number (2), Shop Number (292-G). Tel: 010 9963 4445</li>
<li data-mce-fragment="1">Giza: 461, Faisal St, El Mesaha Station. Tel: 010 6999 5529</li>
<li data-mce-fragment="1">El Mokattam: 25, 9th St, Next to Mobile Shop. Tel: 010 0028 1274</li>
<li data-mce-fragment="1">Maadi: Grand Mall, Third Floor, Shop Number (515). Tel: 010 6000 9768</li>
<li data-mce-fragment="1">Maadi 2: Grand Mall - Second Floor - Shop No. 407 - Mobile: 010 6603 8117</li>
<li data-mce-fragment="1">Zagazig: 14 Tolba Oweida St, Next to KFC & ALFA Lab. Tel: 010 2269 0220</li>
<li data-mce-fragment="1">Sohag: Venus Mall - Second Floor - Elka3at St. Tel: 0122 3312 127</li>
<li data-mce-fragment="1">Tanta: Intersection of Moheb Street with El Helou Street. Mobile: 010 1513 2512</li>
<li data-mce-fragment="1">Alexandria: 282 Gamal Abdel Nasser Street - Miami - In front of McDonald's. Mobile: 010 3028 8716</li>
</div>

    </div>
















</body>

</html>